{
  "branches": [
    "main"
  ],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\nChangelog commit: ${env.GITHUB_SERVER_URL}/${env.GITHUB_REPOSITORY}/commit/${nextRelease.gitHead}\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
