name: Sync Labels

on:
  push:
    branches:
      - main
    paths:
      - ".github/labels.yml"

  workflow_dispatch:

jobs:
  labels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Sync Labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          yaml-file: .github/labels.yml
          skip-delete: true
          dry-run: false
